* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}




h1 {
    text-align: center;
    background-color: #B950EB;
    padding: 20px;
    color: white;
    margin: 0 -999rem;    
}

.card--list {
        display: flex;
         gap: 20px;
        overflow-x: auto;
        flex-direction: column;
        max-width: 800px;
        margin: auto;
    
}

.card--info {
    /* display: inline-block; */
    padding: 30px;
    max-width: 230px;
}

.card--location {
    display: inline;
    margin: 5px;
}

.card {
    width: 100%;
    font-size: 12px;
    /* flex: 0 0 auto;         */
    display: flex;          
    /* flex-direction: column;  */
    position: relative;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
    
}

.image--container {
    flex-basis: 40%;
}

img {
    max-width: 100%;
}