.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    list-style: none;
    display: flex;
    flex: 1;

}

.nav-items > li {
    padding: 10px;
}

.image {
    width: 40px;
}

.footer {
    background-color: rgb(51, 164, 230);
}